name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup PHP
      uses: shivammathur/setup-php@v1
      with:
        php-version: 7.3
        coverage: none # disable xdebug, pcov

    - name: Install CheckStyle to Github Annotations Converter
      run: composer require staabm/annotate-pull-request-from-checkstyle

# Temporaraly disabled because phpcs has no functionality to skip existing issues
#    - run: composer require "squizlabs/php_codesniffer=*"
#      name: Install PHP CodeSniffer
        
#    - run: vendor/bin/phpcs --report=checkstyle --standard=.github/workflows/phpcs_ruleset.xml . | vendor/bin/cs2pr
#      name: PHP CodeSniffer

    - run: composer require phpstan/phpstan
      name: Install PHPStan
      
    - run: vendor/bin/phpstan analyse --configuration=./.github/workflows/phpstan.neon --debug #| vendor/bin/cs2pr
      name: PHPStan
