name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v1
      with:
        php-version: 7.3
        coverage: none # disable xdebug, pcov
    - run: composer require staabm/annotate-pull-request-from-checkstyle # install cs2pr
    - run: vendor/bin/phpcs --report=checkstyle --standard=.github/workflows/phpcs_ruleset.xml . | vendor/bin/cs2pr
    - run: vendor/bin/phpstan analyse --error-format=checkstyle . | vendor/bin/cs2pr
