name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
#    - name: phpcs
#      uses: MilesChou/php-tools-action/phpcs@master
#      with:
#        args: . --report=json --standard=.github/workflows/phpcs_ruleset.xml
    - uses: MilesChou/php-tools-action/phpmetrics@master
      with:
        args: . --exclude=incl/authentication/composer/vendor,incl/websocket/php-websocket,incl/websocket/php-websocket-1.0,incl/sse/websocket_client.php
    - uses: MilesChou/php-tools-action/phpstan@master
      with:
        args: analyse

